*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: Poppins;
}

nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 8vh;
    /*background-color: rgb(201, 201, 201);*/
    /* background-color: #e8e6e0; */
    text-decoration: none;
    /* z-index: 10000; */
}
.logo{
    max-height: 8vh;
    width: 140px;
    top: 4%;
    left: 10%;
}
.logo img{
    width: 50%;
    height: auto;
}
a{
    color: black;
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
    text-decoration: none;
    letter-spacing: 3px;
    font-size: 15px;
}
li{
    list-style: none;
}
.nav-links{
    display: flex;
    justify-content: space-around;
    width: 40%;
}
.nav-links .link:hover{
    color: #D9B3B8;
}

.home-body{
    display: flex;
    justify-content: space-around;
}

#home img{
    width: 35%;
}

.button {
    background-color: #D9B3B8;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 20px;
  }